/* nunito-sans-regular - latin */
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/nunito-sans-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
            url('../fonts/nunito-sans-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../fonts/nunito-sans-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
            url('../fonts/nunito-sans-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
            url('../fonts/nunito-sans-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
            url('../fonts/nunito-sans-v11-latin-regular.svg#NunitoSans') format('svg'); /* Legacy iOS */
}
/* nunito-sans-800 - latin */
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/nunito-sans-v11-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
            url('../fonts/nunito-sans-v11-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../fonts/nunito-sans-v11-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
            url('../fonts/nunito-sans-v11-latin-800.woff') format('woff'), /* Modern Browsers */
            url('../fonts/nunito-sans-v11-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
            url('../fonts/nunito-sans-v11-latin-800.svg#NunitoSans') format('svg'); /* Legacy iOS */
}
/* fjalla-one-regular - latin */
@font-face {
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/fjalla-one-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
            url('../fonts/fjalla-one-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../fonts/fjalla-one-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
            url('../fonts/fjalla-one-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
            url('../fonts/fjalla-one-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
            url('../fonts/fjalla-one-v12-latin-regular.svg#FjallaOne') format('svg'); /* Legacy iOS */
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Nunito Sans', 'sans-serif';
    box-sizing: border-box;
    color: #555;
    margin: 0;
}

header, .bg-footer {
    background-color:  #00748D;
    background-image: url(../img/path.png);
    background-repeat: repeat-x;
    background-position: bottom;
}

.container {
    max-width: 150rem;
    margin: 0 auto;
    font-size: 1.8rem;
}

nav, h1 {
    font-family: 'Fjalla One';
}

.header, .footer {
    padding: 0.5rem 0 1.5rem 0;
}
.menu a {
    padding: 1.5rem 2.4rem;
}
.menu a:hover {
    background-color: #3fc1df;
}

h1, .menu, h3 {
    font-size: 2rem;
}

.header, .concepteur, .menu, .footer, .social {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.concepteur p {
    align-items: flex-end;
    margin-bottom: 0;
    font-weight: 600;
}

.concepteur img {
    align-items: flex-start;
}

header a, .footer a {
    text-decoration: none;
    color: #fff;
}

.menu li, .social li {
    list-style-type: none;
    margin: 0 2rem;
}

.social li {
    font-size: 3rem;
}

footer {
    text-align: center;
    background-color: #444;
    color: #eee;
    padding: 1rem 0;
}

footer img {
    width: 5rem;
    padding-top: 1rem;
}

/* ------------------------------------- */
            /* Acceuil */
/* ------------------------------------- */

.bg_title {
    height: 50rem;
    background-image: url("../img/bg-header.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-transform: uppercase;
    background-color: #CB8606;
    color: #fff;
    padding: 1rem;
    font-size: 3rem;
}

.bg_title p {
    background-color: #fff;
    padding: 0.5rem 2rem;
}

h2{
    text-align: center;
    color: #00748D;
}

h2::before, h2::after {
    content: " - ";
    color: #CB8606;
}

.blocs, .partner {
    display: flex;
    justify-content: space-between;
}

.blocs h3, .picto {
    text-align: center;
}

article {
    padding: 3rem;
    width: 25%;
}

article a {
    background-color: #00748D;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 0;
    display: inline-block;
    width: 80%;
    border-radius: 5px;
}

.lien {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.picto i {
    background-color: #CB8606;
    padding: 1rem;
    color: #fff;
}

.partner img {
    border: 1px solid #00748D;
    margin: 0 1rem;
}

.partner {
    margin: 3rem;
}

.partner img {
    margin-top: 3rem;
}

h2 {
    margin: 6rem 0;
}

/* ------------------------------------- */
            /* Tablette */
/* ------------------------------------- */

@media screen and (max-width: 1100px) {
    .header {
        flex-direction: column;
        justify-content: space-around;
    }
    .concepteur {
        margin: 2rem 0;
        flex-direction: column;
    }
    .blocs, .partner{
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
    }
    article, .partner img {
        width: 40%;
    }
}

@media screen and (max-width: 780px) {
    article, .partner img {
        width: 60%;
    }
    .menu {
        font-size: 1.5rem;
    }
    .footer {
        flex-direction: column-reverse;
    }
    .social {
        padding-left: 0;
    }
}

@media screen and (max-width: 630px) {
    .menu {
        font-size: 2rem;
        display: initial;
    }
    .menu li {
        display: initial;
    }
    .menu a {
        display: block;
        text-align: center;
        padding: 1.5rem 55rem;
    }
}


/* ------------------------------------- */
            /* realisations */
/* ------------------------------------- */

.even {
    list-style-image: url("../img/quote.png");

}

.odd {
    list-style-image: url("../img/client.png");
}

.main_rea {
    display: flex;

}